pgxcOwner=pgxl
pgxcUser=$pgxcOwner
pgxcInstallDir=$HOME/pgcx

#gtm and gtmproxy  
gtmMasterDir=$HOME/pgxc/nodes/gtm
gtmMasterPort={{ gtm_port }}
gtmMasterServer={{ hostvars[groups['gtm'][0]]['ansible_default_ipv4']['ipv4']['address'] }}
gtmSlave=n

#gtm proxy  
gtmProxy=n

#coordinator  
coordMasterDir=$HOME/pgxc/nodes/coord
coordNames=({% for i in groups['coordinator'] %} coord{{ loop.index }} {% endfor %})
{% set count = coordinator_port %}
coordPorts=({% for i in groups['coordinator'] %} {{ count }} {% set count = count + 1 %} {% endfor %})
{% set count = coordinator_pooler_port %}
poolerPorts=({% for i in groups['coordinator'] %} {{ count }} {% set count = count + 1 %} {% endfor %})
coordPgHbaEntries=(192.168.100.0/24)
coordMasterServers=({% for host in groups['coordinator'] %} {{ hostvars[host]['ansible_default_ipv4']['ipv4']['address'] }} {% endfor %})
coordMasterDirs=({% for i in groups['coordinator'] %} $coordMasterDir/coord{{ loop.index }} {% endfor %})
coordMaxWALSender=0
coordMaxWALSenders=({% for i in groups['coordinator'] %} $coordMaxWALSenders {% endfor %})
coordSlave=n
#coordSpecificExtraConfig=(none none none)
#coordSpecificExtraPgHba=(none none none)


#datanode  
datanodeNames=({% for i in groups['datanode'] %} datanode{{ loop.index }} {% endfor %})
{% set count = datanode_port %}
datanodePorts=({% for i in groups['datanode'] %} {{ count }} {% set count = count + 1 %} {% endfor %})
{% set count = datanode_pooler_port %}
datanodePoolerPorts=({% for i in groups['datanode'] %} {{ count }} {% set count = count + 1 %} {% endfor %})
datanodePgHbaEntries=(192.168.100.0/24)
datanodeMasterServers=({% for host in groups['datanode'] %} {{ hostvars[host]['ansible_default_ipv4']['ipv4']['address'] }} {% endfor %})
datanodeMasterDir=$HOME/pgxc/nodes/dn_master
datanodeMasterDirs=({% for i in groups['datanode'] %} $datanodeMasterDir/datanode{{ loop.index }} {% endfor %})
datanodeMaxWALSender=0
datanodeMaxWALSenders=({% for i in groups['datanode'] %} $datanodeMaxWALSenders {% endfor %})
datanodeSlave=n
primaryDatanode=datanode1
